<div>
    <div class="input-field">
        <input type="text" id="expresion" ng-model="txtExpression">
        <label for="expresion">Expresion</label>
        <a class="btn waves-effect waves-light" ng-click="readExpression();" ng-show="validateExpression();">Iniciar</a>
    </div>
    <div>
        <div id="tree-container" style="overflow: hidden;">
        </div>
    </div>
    <div>
        <table class="bordered" id="tablaAtomos">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Atomo</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="atom in atoms_table">
                    <td>{{atom.id}}</td>
                    <td>{{atom.value.node_symbol}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="tablaNodos">
        <table class="bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Menor</th>
                    <th>Mayor</th>
                    <th>Simbolo</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="node in node_table">
                <td>{{node.id}}</td>
                <td>{{node.menor}}</td>
                <td>{{node.mayor}}</td>
                <td>{{node.value.node_symbol}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <style>
        .node {
            cursor: pointer;
        }

        .overlay{
            background-color:#EEE;
        }

        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        .node text {
            font-size:10px;
            font-family:sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 1.5px;
        }

        .templink {
            fill: none;
            stroke: red;
            stroke-width: 3px;
        }

        .ghostCircle.show{
            display:block;
        }

        .ghostCircle, .activeDrag .ghostCircle{
            display: none;
        }
    </style>
</div>
